/* src/components/Sidebar.css */
.sidebar {
  height: 100%;
  width: 100%;
  max-width: 250px;
  background-color: #414e5c;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
  
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 23px;
  width: 100%;

  border-bottom: 3px solid white;


  background-color: yellow;

}

.profile-pic {
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.username {
  font-size: 1.5rem;
  margin: 0;
}

.menu {
  padding: 18px;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.menu-item {
  padding: 10px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
